.advantages{
    min-height: 590px;
    padding: 58px 0 51px 0;
    background-color: #f3f3f3;
    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 32px;
        margin-left: 55px;
        :nth-child(n+3){
            margin-top: 37px;
        }
        
    }
    &__item{
        position: relative;
        display: flex;
        width: 447px;
        justify-content: center;
        align-items: flex-start;
        img{
            position: absolute;
            left: -55px;
            top: 10px;
        }
    }
    &__text{
        margin-left: 20px;
    }
    &__header{
        color: #ec644b;
        font-size: 16px;
        font-weight: 700;
    }
    &__descr{
        margin-top: 5px;
        color: #3a3a3a;
        font-weight: 300;
        font-size: 14px;
    }
}