.button{
    width: 160px;
    height: 45px;
    background-color: #ec644b;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    &:hover{
        background-color: #dc5238;
    }
    &_promo{
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
        margin-top: 39px;
    }
    &_consult{
        width: 180px;
    }
}