.consultation{
    position: relative;
    padding: 28px 0 138px 0;
    &__items{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__header{
        margin: 0 auto;
        color: #3a3a3a;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
    }
    &__round{
        position: absolute;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 102px;
        border: 1px solid #e93b3b;
        border-radius: 100%;
        background-color: #ffffff;
        top: 66px;
        
       
    }
    &__form{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1140px;
        height: 166px;
        border: 1px solid #e9e9e9;
        top: 66px;
        z-index: -1;
        input{
            width: 268px;
            height: 45px;
            border: 1px solid rgba(0, 0, 0, 0.21);
            border-radius: 30px;
            padding-left: 24px;
            margin: 0 2px;
            margin-top: 20px;
            color: #101010;
            font-size: 13px;
            font-weight: 300;
        }
    }
    .button_consult{
        position: absolute ;
        margin-top: 250px;
        margin-bottom: 58px;
    }
}