.header{
    display: flex;
    justify-content: space-between;
    &__logo{
        display: block;
        max-width: 100%;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-top: 37px;
    }
    &__item{
        height: 26px;
        border-right: 1px dotted rgba($color: #ffffff, $alpha: 0.6);
        padding:0 15px;
        &:last-child{
            border-right: none;  
        }
    }
    &__link{
        color: #ffffff;
        font-size: 15px;
        font-weight: 300;
        &:hover{
            color: #ec644b;
        }
    }
    &__contacts{
        margin-top: 25px;
        display: flex;
    }
    &__number{
        margin-right: 19px;
    }
    &__text{
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        text-align: right;
    }
    &__phone{
        color: #ffffff;
        font-size: 19px;
        font-weight: 700; 
        &:hover{
            color: #ffffff;
        }
    }
}