.managers{
    min-height: 342px;
    padding: 58px 0 76px 0;
    background: url('../../img/bg/city_bg.jpg') center (center/cover) no-repeat;
    &__items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__descr{
        width: 924px;
        color: #ffffff;
        font-size: 19px;
        font-weight: 300;
        text-align: center;
        margin-top: 18px;
    }
}