.map{
    position: relative;
    min-height: 500px;
    /* padding: 171px 0; */
    background: url('../../img/bg/map_bg.jpg') center (center/cover) no-repeat;
    &__label{
        position: absolute;
        bottom: 224px;
        left: 555px;
    }
    &__text{
        position: absolute;
        bottom: 184px;
        left: 625px;
    }
}