.work{
    padding: 51px 0 57px 0;
    &__subheader{
        margin: 0 auto;
        margin-top: 17px;
        width: 879px;
        text-align: center;
        color: #2e2e2e;
        font-size: 21px;
        font-weight: 300;
        line-height: 24px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        margin-top: 37px;
    }
    &__header{
        margin-top: 28px;
        text-align: center;
        color: #ec644b;
        font-size: 18px;
        font-weight: 700;

    }
    &__descr{
        margin-top: 10px;
        width: 359px;
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
}