@import'libs/bootstrap-reboot.min';
@import'libs/font';
@import'libs/slick';

@import'blocks/header';
@import'blocks/promo';
@import'blocks/buttons';
@import'blocks/advantages';
@import'blocks/titles';
@import'blocks/work';
@import'blocks/china';
@import'blocks/price';
@import'blocks/divider';
@import'blocks/consultation';
@import'blocks/managers';
@import'blocks/round';
@import'blocks/managers';
@import'blocks/schema';
@import'blocks/reviews';
@import'blocks/questions';
@import'blocks/map';
@import'blocks/footer';
@import'blocks/basement';

@import'base/variables';
@import'base/media';
*{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
